html,body { 
    margin: 0; 
    padding: 0; 
    background-color: #f8f8f8;
    font-family: 'HelveticaNue', Arial; 
    box-sizing: border-box;

}
body {
    background: transparent none no-repeat 50% 0; 
    min-height:100%; 
    height: 100%;
    width: 100%;
}

body > div {width: 100%; height: auto; }

.container { 
    background: #f8f8f8 none no-repeat 50% 0; 
    margin-bottom: 20px; 
    width:100%; 
    position:relative;} 

:root {
    view-transition-name: root;
}
.content {
    padding-top: 4%;
    padding-left: 8%;
    padding-right: 8%;
}

.header{
    padding: 1em;  
    margin-top: 1em; 
    overflow: hidden;
    background-color: #f8f8f8;
}

.header-text{
    max-width: 100%;
    display: flex;
    align-items: center;
    padding: 1%;
    gap: 0.5%;
    background: black;
    box-sizing: border-box;
    flex-wrap: nowrap;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

p.header-title{
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;

    flex: 1;
} 

.logo{
    margin-left: 5%;
    max-width: 15%;
    cursor: pointer;

    flex-shrink: 0; /* Prevent the logo from shrinking */
}

.navbar{  
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   background: lightgray;
   gap: 0.5rem;

   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
}

.navbar a{
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2% 3%;
    text-decoration: none;
    color: white;
    font-size: x-small;
    font-weight: bold;
    background-color: darkgray;
    border-radius: 5px;

}

.btn{
    cursor: pointer;
    color: #cc0052;
    font-size: small;
    letter-spacing: 2px;
    padding: 0.7em 1em;
    border: 3px solid #033;
    background: transparent;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    margin: 2em 0.5em;
    border-radius: 10px;
}

.btn:hover{
    color: #000;
    background-color: #FFF;
}

.btn a:visited{
    background-color: #FFF;
    color: #cc0052
}

.btn a:hover{
    color: #000;
}

.btn a:link{
    text-decoration: none;
}

.last-action{
    display: flex;
    gap: 1em;
    margin: 2%;
    align-items: center;
    justify-content: center;
}



/* essays */
.essay-entry{
    margin-bottom: 5%;
    background-color: #ececec;
    padding: 5%;
    border-radius: 25px;
}

.essay-entry h1{
    text-decoration: none;
}

.essay-entry p{
    margin-left: 3%;
}

p.subtitle{
    margin-left: 7%;
}




/* body {
    background-color: #f8f8f8;
    color: #333333;
}

.header-title p {
    color: #008b8b;
}

.navbar a {
    background-color: #333333;
    color: white;
}

.essay-entry h1 {
    color: #800080;
}

.essay-entry p {
    background-color: #ececec;
    color: #333333;
}

.btn {
    background-color: #008b8b;
    color: white;
}

.btn:hover {
    background-color: #005f5f;
} */