html,body { 
    margin: 0; 
    padding: 0; 
    background-color: #f8f8f8;
    font-family: 'HelveticaNue', Arial; 
    box-sizing: border-box;

}
body {
    background: transparent none no-repeat 50% 0; 
    min-height:100%; 
    height: 100%;
    width: 100%;
}

body > div {width: 100%; height: auto; }

.container { 
    background: #f8f8f8 none no-repeat 50% 0; 
    margin-bottom: 20px; 
    width:100%; 
    position:relative;} 

:root {
    view-transition-name: root;
}
.content {
    padding-top: 4%;
    padding-left: 6%;
    padding-right: 6%;
}

.header{
    padding: 1em;  
    margin-top: 1em; 
    overflow: hidden;
    background-color: #f8f8f8;
}

.header-text{
    max-width: 100%;
    display: flex;
    align-items: center;
    padding: 1%;
    gap: 0.5%;
    background: black;
    box-sizing: border-box;
    flex-wrap: nowrap;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

p.header-title{
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;

    flex: 1;
} 

.logo{
    margin-left: 5%;
    max-width: 15%;
    cursor: pointer;

    flex-shrink: 0; /* Prevent the logo from shrinking */
}

.navbar{  
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   background: lightgray;
   gap: 0.5rem;

   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
}

.navbar a{
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2% 3%;
    text-decoration: none;
    color: white;
    font-size: x-small;
    font-weight: bold;
    background-color: darkgray;
    border-radius: 5px;

}

.btn{
    cursor: pointer;
    color: #cc0052;
    font-size: small;
    letter-spacing: 2px;
    padding: 0.7em 1em;
    border: 3px solid #033;
    background: transparent;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    margin: 2em 0.5em;
    border-radius: 10px;
}

.btn:hover{
    color: #000;
    background-color: #FFF;
}

.btn a:visited{
    background-color: #FFF;
    color: #cc0052
}

.btn a:hover{
    color: #000;
}

.btn a:link{
    text-decoration: none;
}

.last-action{
    display: flex;
    gap: 1em;
    margin: 2%;
    align-items: center;
    justify-content: center;
}

/* essays */

.essay-entry{
    margin-bottom: 5%;
    background-color: #ececec;
    padding: 5%;
    border-radius: 25px;
}

.essay-entry h1 {
    text-decoration: none;
    color: black;
    margin: 1%;
    margin-bottom: 4%;
}

.essay-entry a{
    text-decoration: none;
    padding-left: 3%;
}

.essay-entry p{
    margin-left: 3%;
    margin-right: 3%;
}

p.subtitle{
    margin: 0;
    margin-left: 7%;
    margin-right: 3%;
}

.essay-body{
 display: flex;
 flex-wrap: wrap;
 overflow: hidden;
}

img.result {
    width: 100%;
    padding-bottom: 3%;
    /* margin: 5%; */
}

@media (min-width:980px){

    .container{
        max-width: 1400px;
        height: auto;
        margin-inline: auto;

    }

    .header-text{
        padding: 2%;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    
    p.header-title{
        font-size: 3em;
    } 
    
    .navbar{  
        gap: 2rem;
     
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
     }
     
     .navbar a{
         padding: 1% 2%;
         font-size: 1.2em;
         border-radius: 15px;
     
     }

     .cv-section{
        padding-top: 1%;
    }
    
    .cv-section ul{
        padding-left: 6%;
        padding-right: 6%;
        font-size: 1.2em;
    }
    
    .section-entry{
        padding-top: 0;
    }
    
    .section-entry p{
        font-size: 1.2em;
        margin-left: 2%;
    }

    .entry-header{
        padding-top: 1%;
        justify-content: flex-start;

    }

    .entry-header h2{
        font-size: 1.4em; 
    }

    .btn{
        font-size: 1.2em;
        border-radius: 15px;
    }

    p.date{
        text-align: left;
        padding-left: 3%;
        font-size: 1em;
    }

}