* {
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1560px;
    min-width: 450px;
    height: auto;
    margin-inline: auto;
    /*background-image: url(../resources/Backgorund.png);*/
    background-size: cover;
    background-color: darkslategrey;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.header{
    height: 15%;
    display: flex;
    gap: 1rem 3rem;
    align-items: center;
    overflow: hidden;
    position: relative;
    line-height: 3;
}

.logo{
    width: 20vh;
    cursor: pointer;
}

.navbar{
    text-align: center;
    flex: 2;
    flex-wrap: wrap;
}

.navbar a{
    padding: 3%;
    text-decoration: none;
    color: white;
    gap: 1rem 3rem;
    font-size: 100%;
    font-weight: bold;
    

}

.btn{
    cursor: pointer;
    color: #cc0052;
    font-size: 18px;
    letter-spacing: 2px;
    padding: 10px 30px;
    border: 2px solid #033;
    background: transparent;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    margin: 40px 8px;
}

.btn:hover{
    color: #000;
    background-color: #FFF;
}

.btn a:visited{
    background-color: #FFF;
    color: #cc0052
}

.btn a:hover{
    color: #000;
}

.btn a:link{
    text-decoration: none;
}
.content {
    text-align: left;
    margin-top: 12%;
}

/*.content h1{
    font-size: 80px;
    color: white;
}*/
.project{
    padding-bottom: 5%;
}
.project h1, h2{
    text-align: left;
    color: #FFF;
}
.project h2{
    padding-bottom: 10px;
}
.project p{
    text-align: left;
    font-size: 15px;
    color: white;
    padding-bottom: 5%;
}
.project-body {
    display: grid;
    gap: 1rem;
    grid-template-columns: 
        repeat(auto-fit, minmax(500px, 1fr));

}

.project-body p{
    text-align: left;
    font-size: 100%;
    color: white;
    margin: 0;
}

.project-body img{
    display: block;
    width: 100%;
    height: 100%;

}
.reference {
    text-align: left;
    margin: 5px;
    text-decoration: none;
}
.reference img{
    width: 30px;
    height: 30px;
}

.reference-entry{
    display: inline-block;
}

.reference-entry a{
    text-decoration: none;
}
.skills{
    text-align: left;
}
.skills h3, p{
    text-align: left;
    display: inline-block;
    padding-bottom: 20px;
    padding-top: 5px;
}

.skills h3{
    text-align: left;
    font-weight: bold;
    color: white;
}

/* OTher Projects */
.minor-project{
    color: white;
    text-align: left;
}

.minor-project h1{
    padding-left: 20px;
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    padding-bottom: 5px;
}
.minor-project p{
    padding-left: 40px;

}
.skill-reference{
    padding-left: 40px;
}
.skill-reference .reference{
    padding-left: 30px;
}
.skills, .reference{
    display: flex;
    display: inline-block;
    gap: 1rem 3rem;
}

.skills p {
    padding-left: 5px;
}