body {
    /* font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

html {
    --highlight-background-color--normal: hsl(50deg 100% 50% / 15%) !important;
    --highlight-background-color-underline: hsl(50deg 100% 50% / 100%) !important;
    --highlight-background-color--active: hsl(50deg 100% 50% / 20%) !important;
    --highlight-image-background-color--normal: hsl(50deg 100% 50% / 30%) !important;
    --highlight-image-background-color--active: hsl(50deg 100% 50% / 50%) !important;
    --js_highlight-normal: #fcf6bf !important;
    --highlight-background-color--alternative: #CDCDFE !important;
    --highlight-background-color--alternative--active: #b1b7fe !important;
    --highlight-text-color: #000 !important;
    --highlight-text-color--alternative: #000 !important;
    --highlight-text-color--active: #000 !important;
    --highlight-icon-color: rgba(0, 0, 0, .6) !important;
}

:root {
    view-transition-name: root;
}

.container{
    max-width: 1400px;
    height: auto;
    margin-inline: auto;
    background-color: #f8f8f8;
}
 
.header{
/* 
    justify-content: center;
    flex-grow: 1; */
    padding: 1rem;  
    padding-top: 4rem; 
    padding-left: 4%;
    padding-right: 4%;
}

.header-text{
    max-width: 100%;
    display: flex;
    /* flex-grow: 1; */
    align-items: center;
    padding: 1%;
    gap: 0.5%;
    background: black;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.header-title p{
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
} 

.logo{
    margin-left: 5%;
    max-width: 15%;
    cursor: pointer;
}

.navbar{  
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   background: lightgray;
   gap: 1rem;

   border-bottom-left-radius: 25px;
   border-bottom-right-radius: 25px;
}

.navbar a{
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: white;
    gap: 1rem;
    font-size: x-large;
    font-weight: bold;
    background-color: darkgray;
    border-radius: 5px;

}

.btn{
    cursor: pointer;
    color: #cc0052;
    font-size: 2em;
    letter-spacing: 2px;
    padding: 0.5em 1em;
    border: 2px solid #033;
    background: transparent;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    margin: 2em 0.5em;
    border-radius: 25px;
}

.btn:hover{
    color: #000;
    background-color: #FFF;
}

.btn a:visited{
    background-color: #FFF;
    color: #cc0052
}

.btn a:hover{
    color: #000;
}

.btn a:link{
    text-decoration: none;
}

.last-action{
    display: flex;
    gap: 5em;
    margin: 2%;
    align-items: center;
    justify-content: center;
}

.content {
    padding-top: 4%;
    /* margin-top: 12%; */
    padding-left: 8%;
    padding-right: 8%;
}

.project{
    margin-bottom: 5%;
    background-color: #ececec;
    padding: 5%;
    border-radius: 25px;
}

.project p{
    font-size: 0.8em;
    margin-left: 5%;
    padding-bottom: 1%;
}

.project-body {
    /* align-content: center;
    justify-content: center; */
    display: grid;
    gap: 1rem;
    grid-template-columns: 
        repeat(auto-fit, minmax(500px, 1fr));
    justify-items: center;

}

.project-body p{
    font-size: 0.9em;
    padding-bottom: 2%;
    margin: 0;
}

.project-body img{
    display: block;
    max-width: 100%;
}

.footnote{
    display: grid;
    grid-template-columns: 
    repeat(auto-fit, minmax(500px, 1fr));
    align-items: center;
}

.reference {
    display: flex;
    justify-self: end;
    gap: 1rem;
    text-decoration: none;
    margin-right: 2rem;
}
.reference img{
    max-width: 30px;
    max-height: 30px;
    padding-right: 0.5rem;
}

.reference-entry {
    display: flex;
    align-items: center;
}

.reference-entry a{
    text-decoration: none;
    color: #000;
    font-size: 0.8em;
}

@media (min-width:500px){
    .reference-entry a{
        font-size: 1.5em;

    /* .skills p {
        font-size: 1.5em;
    }  */
    }
}

.skills{
    align-content: center;

}

.skills p {
    align-content: center;
} 

/* OTher Projects */

.other-projects{
    margin-top: 10%;
}

.minor-project{
    margin-bottom: 5%;
    background-color: #ececec;
    padding: 5%;
    border-radius: 25px;
}
.minor-project h1{
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    font-size: 1.5em;
}
.minor-project p{
    padding-left: 4%;
    padding-right: 4%;
    margin-left: 7%;
    font-size: 0.9em;

}
.other-projects .footnote{
    padding-left: 4%;
    padding-right: 4%;
}

