body {
    /* /* font-family: Arial, sans-serif; */
    /* line-height: 1.6; */
    margin: 0;
    padding: 0;
}

:host, :root {
    /* --rem: 16; */
}

html {
    --highlight-background-color--normal: hsl(50deg 100% 50% / 15%) !important;
    --highlight-background-color-underline: hsl(50deg 100% 50% / 100%) !important;
    --highlight-background-color--active: hsl(50deg 100% 50% / 20%) !important;
    --highlight-image-background-color--normal: hsl(50deg 100% 50% / 30%) !important;
    --highlight-image-background-color--active: hsl(50deg 100% 50% / 50%) !important;
    --js_highlight-normal: #fcf6bf !important;
    --highlight-background-color--alternative: #CDCDFE !important;
    --highlight-background-color--alternative--active: #b1b7fe !important;
    --highlight-text-color: #000 !important;
    --highlight-text-color--alternative: #000 !important;
    --highlight-text-color--active: #000 !important;
    --highlight-icon-color: rgba(0, 0, 0, .6) !important;
}

:root {
    view-transition-name: root;
}

.container{
    /* max-width: 1560px;
    min-width: 400px; */
    height: auto;
    margin-inline: auto;
    /*background-image: url(../resources/Backgorund.png);*/
    background-size: cover;
    /* background-color: darkslategrey; */
    padding-left: 8%;
    padding-right: 8%;
    /* box-sizing: border-box; */
}

.header{
    display: flex;
    gap: 2rem;
    align-items: center;
    /* line-height: 3; */
    background-color: black;
    padding: 1rem;
}

.logo{
    max-width: 20%;
    cursor: pointer;
}

.navbar{  
    /* display: block;
    unicode-bidi: isolate; */
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-end;
   gap: 1rem;
   /* width: 100%; */
   /* background-color: darkcyan; */
       
}

.navbar a{
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: white;
    gap: 1rem;
    font-weight: bold;
    background-color: darkgray;
    border-radius: 5px;

}
.header-text{
    justify-content: center;
    flex-grow: 1;
    background-color: #CDCDFE;
}

.header-title p{
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    /* background-color: darkkhaki; */
    font-size: x-large;
    

}
/* @media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar a {
        width: 100%;
        text-align: center;
    }
} */

.btn{
    cursor: pointer;
    color: #cc0052;
    font-size: 18px;
    letter-spacing: 2px;
    padding: 10px 30px;
    border: 2px solid #033;
    background: transparent;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    margin: 40px 8px;
}

.btn:hover{
    color: #000;
    background-color: #FFF;
}

.btn a:visited{
    background-color: #FFF;
    color: #cc0052
}

.btn a:hover{
    color: #000;
}

.btn a:link{
    text-decoration: none;
}
.content {
    text-align: left;
    margin-top: 12%;
}

/*.content h1{
    font-size: 80px;
    color: white;
}*/
.project{
    padding-bottom: 5%;
}
.project h1, h2{
    text-align: left;
    color: #FFF;
}

.project p{
    text-align: left;
    font-size: 16px;
    color: white;
    padding-bottom: 5%;
}

.project-body {
    align-content: center;
    justify-content: center;
    display: grid;
    gap: 1rem;
    grid-template-columns: 
        repeat(auto-fit, minmax(500px, 1fr));

}

.project-body p{
    text-align: left;
    font-size: 100%;
    color: white;
    margin: 0;
}

.project-body img{
    display: block;
    max-width: 100%;

}
.reference {
    text-align: left;
    margin: 1%;
    text-decoration: none;
}
.reference img{
    width: 30px;
    height: 30px;
}

.reference-entry{
    display: inline-block;
}

.reference-entry a{
    text-decoration: none;
}
.skills{
    text-align: left;
    padding-top: 5%;
}
.skills h3, p{
    text-align: left;
    display: inline-block;
    padding-bottom: 20px;
    padding-top: 5px;
}

.skills h3{
    text-align: left;
    font-weight: bold;
    color: white;
}

/* OTher Projects */
.minor-project{
    color: white;
    text-align: left;
}

.minor-project h1{
    padding-left: 20px;
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    padding-bottom: 5px;
}
.minor-project p{
    padding-left: 40px;

}
.skill-reference{
    padding-left: 40px;
}
.skill-reference .reference{
    padding-left: 30px;
}
.skills, .reference{
    display: flex;
    display: inline-block;
    gap: 1rem 3rem;
}

.skills p {
    padding-left: 5px;
} 