html,body { 
    margin: 0; 
    padding: 0; 
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
    box-sizing: border-box;

}
body {
    background: transparent none no-repeat 50% 0; 
    min-height:100%; 
    height: 100%;
    width: 100%;
}

body > div {width: 100%; height: auto; }

.container { 
    background: #f8f8f8 none no-repeat 50% 0; 
    margin-bottom: 20px; 
    width:100%; 
    position:relative;} 

:root {
    view-transition-name: root;
}
.content {
    padding-top: 4%;
    padding-left: 6%;
    padding-right: 6%;
}

.header{
    padding: 1em;  
    /* margin-top: 1em;  */
    overflow: hidden;
    background-color: #f8f8f8;
}

.header-text{
    max-width: 100%;
    display: flex;
    align-items: center;
    padding: 1%;
    background: black;
    box-sizing: border-box;
    flex-wrap: nowrap;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.header-title h3, .sub{
    color: white;
    font-weight: bold;
    text-align: center;
    flex: 1;
} 

.header-title .sub{
    margin-top: 0;
}

.header-title h3{
    color: white;
    margin-bottom: 0;
    font-size: 1.5em;
} 

.logo{
    margin-left: 5%;
    max-width: 17%;
    cursor: pointer;

    outline: 5px solid white;
    outline-offset: -4px; 

    flex-shrink: 0; /* Prevent the logo from shrinking */
}

.navbar{  
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   background: lightgray;
   gap: 0.5rem;

   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
}

.navbar a{
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2% 3%;
    text-decoration: none;
    color: white;
    font-size: x-small;
    font-weight: bold;
    background-color: darkgray;
    border-radius: 5px;

}

.btn{
    cursor: pointer;
    color: #cc0052;
    font-size: small;
    letter-spacing: 2px;
    padding: 0.7em 1em;
    border: 3px solid #033;
    background: transparent;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    margin: 2em 0.5em;
    border-radius: 10px;
}

.btn:hover{
    color: #000;
    background-color: #FFF;
}

.btn a:visited{
    background-color: #FFF;
    color: #cc0052
}

.btn a:hover{
    color: #000;
}

.btn a:link{
    text-decoration: none;
}

.last-action{
    display: flex;
    gap: 1em;
    margin: 2%;
    align-items: center;
    justify-content: center;
}

/* CV */

.cv{
    padding-right: 4%;
}
.intro{
    padding: 0 4% 0 4%;
}

hr{
    margin: 3em auto;
    margin-bottom: 0;
}

.profile{
    display: none;
}

.hobby{
    outline: 1px solid black;
    outline-offset: 0px;
    max-width: 100%;
    height: auto;
    background-color: white;
    padding: 2%;
}

.h1{
    margin: 0;
}

.cv-section{
    padding-top: 3%;
}

.cv-section ul{
    padding-left: 6%;
    font-size: 0.9em;
}

.cv-section h3{
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 3%;
}

.section-entry{
    padding-top: 2%;
    margin-left: 5%;
}

.section-entry p{
    font-size: 0.8em;
    margin-left: 5%;
}

.entry-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.entry-header h2{
    font-size: 1em; 
    margin: 0;
}

.entry-header p{
    margin: 0; 
    padding: 0; 
}

p.date{
    text-align: right;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
@media (min-width:668px){


    .container{
        max-width: 700px;
        height: auto;
        margin-inline: auto;

    }

    .header-text{
        padding: 2%;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        gap: 2.5em;

    }
    
    .header-title .sub{
        margin-top: 0;
        font-size: 2em;
    }
    
    .header-title h3{
        font-size: 3em;
    }  

    .navbar{  
        gap: 1rem;
     
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
     
    .navbar a{
        margin-top: 1.2%;
        margin-bottom: 1.2%;
        font-size: 1.17em;
     }

    .intro{
        font-size: 1.17em;
    }

    .profile{
        display: flex;
        float: left;
        max-width: 40%;
        border-radius: 10%;
        margin: 0  1rem 0 0;
    }

    .cv-section ul{
        padding-left: 6%;
        padding-right: 6%;
        font-size: 1.2em;
    }
    
    .section-entry{
        padding-top: 0;
    }
    
    .section-entry p{
        font-size: 1.17em;
        margin-left: 2%;
    }

    .entry-header{
        padding-top: 1%;
        justify-content: flex-start;

    }

    .entry-header h2{
        font-size: 1.4em; 
    }

    .btn{
        font-size: 1.2em;
        border-radius: 15px;
    }
 
    p.date{
        text-align: left;
        padding-left: 3%;
        font-size: 1em;
    }
    
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
@media (min-width:1100px){

    .cv{
        padding: 0;
    }

    .container{
        max-width: 1400px;
        height: auto;
        margin-inline: auto;

    }

    .header {
        max-height: 250px;
    }
    
    .header-text{
        padding: 2%;
        gap: 2.5em;
        padding: 0;
        height: 80%;
        padding-left: 10%;
    }
    
    .logo{
        max-width: 10%;
    }

    .header-title{
        display: flex;
        flex-direction: column;
        justify-content: center; /* Center-align text vertically */
        text-align: center;
        margin: 0;

    }
    .header-title .sub{
        margin-top: 0;
        font-size: 2.2em;
    }
    
    .header-title h3{
        font-size: 2.5em;
    }  
    
    .navbar{  
        gap: 1.5rem;
    }
     
    .navbar a{
        margin-top: 1%;
        margin-bottom: 1%;
        padding: 1% 2%;
        font-size: 1em;
        border-radius: 15px;  
     }

     hr{
        display: none;
    }
    
    .home{
        display: grid;
        gap: 3rem;
        grid-template-columns: 
            repeat(2, minmax(500px, 1fr));
        justify-items: center;

    }

    .intro{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        font-size: 1.3em;
        margin-top: 1em;
        border-right: 2px solid black;
        padding-right: 1em;
    }

    .profile{
        float: right;
        display: flex;
        max-width: 100%;
        border-radius: 10%;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

     .cv-section{
        padding-top: 1%;
    }
    
    
    .section-entry p{
        font-size: 1.2em;
    }


}